.showWeatherDiv {
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.name-label {
    font-size: 2.5rem;
    font-weight: 100;
}

.temp-label {
    font-size: 5rem;
    font-weight: normal;
}

.rows-common {
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.img-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-img {
    width: 250px;
    height: 250px;
}